/* < ------- Media Query ------- > */

/* 430px My Phone :3 */
@media (min-width: 0px) and (max-width: 430px) {
  /* Nav */

  #nav {
    height: 150px;
  }
  #nav .container {
    margin: 5px;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
  }

  #nav .container .logo {
    margin: 5px;
  }
  /* Nav */

  /* Header */
  #header {
    height: 1200px;
  }

  #header .container {
    flex-direction: column-reverse;
  }

  #header img {
    width: 120%;
    margin-top: 100px;
  }

  #header .header-content {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  #header .header-content .watch-btn .icon::before {
    display: none;
  }
  #header .header-content .watch-btn .icon {
    display: none;
  }

  /* Header */

  /* Chefs */
  
  #chefs .container {
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #chefs .container .chefs-cards {
    flex-direction: column;
    align-items: center;
  }

  #chefs .container .card {
    margin: 10px;
    width: 70%;
  }

  /* Chefs */

  /* Gallery */
  #gallery {
    padding-top: 50px;
    margin-top: 100px;
    padding-bottom: 100px;
  }

  #gallery .container .layer {
    bottom: -35px;
  }
  #gallery .container .gallery-card {
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: unset;
    align-items: center;
  }

  #gallery .container {
    overflow: unset;
  }

  #gallery .container .gallery-card {
    height: 100%;
  }

  /* Gallery */

  /* Contact */

  #contact {
    margin-top: 100px;
  }
  #contact .container .contact-info {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
  }

  #contact .container .info-item {
    flex-wrap: nowrap;
    align-items: center;
  }

  #contact .container form .name {
    width: 100%;
  }

  #contact .container form input {
    width: 100%;
  }
  /* Contact */

  /* Footer */
  #footer {
    height: 900px;
    margin-top: 100px;
  }
  #footer .container {
    flex-direction: column;
    align-items: center;
  }

  #footer .container .footer-about {
    width: 100%;
  }

  #footer .container .footer-sub {
    width: 100%;
  }
  #footer .container .footer-sub ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #footer .container .footer-sub ul li {
    width: 100%;
  }

  #footer .container .footer-touch {
    width: 100%;
  }

  /* Footer */
}

/* 'sm': '640px', */
@media (min-width: 431px) and (max-width: 640px) {
  /* Nav */

  #nav .container {
    margin: 5px;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
  }
  /* Nav */

  /* Header */
  #header {
    height: 1300px;
  }
  #header .container {
    flex-direction: column-reverse;
  }

  #header img {
    width: 120%;
    margin-top: 100px;
  }

  #header .header-content {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  #header .header-content .watch-btn .icon::before {
    display: none;
  }
  #header .header-content .watch-btn .icon {
    display: none;
  }
  /* Header */

  /* Chefs */

  
  #chefs .container .chefs-cards {
    flex-direction: column;
    align-items: center;
  }

  #chefs .container .card {
    width: 100%;
  }

  #chefs .container .card {
    margin: 20px;
  }

  /* Chefs */

  /* Gallery */

  #gallery .container .gallery-card {
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: unset;
    align-items: center;
  }

  #gallery .container {
    overflow: unset;
  }

  #gallery .container .gallery-card {
    height: 100%;
  }

  /* Gallery */

  /* Contact */
  #contact .container .contact-info {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
  }

  #contact .container .info-item {
    flex-wrap: nowrap;
    align-items: center;
  }

  #contact .container form .name {
    width: 100%;
  }

  #contact .container form input {
    width: 100%;
  }
  /* Contact */

  /* Footer */
  #footer .container {
    flex-direction: column;
    align-items: center;
  }

  #footer .container .footer-about {
    width: 100%;
  }

  #footer .container .footer-sub {
    width: 100%;
  }

  #footer .container .footer-touch {
    width: 100%;
  }

  /* Footer */
}

/* max-md 768px */

@media (min-width: 641px) and (max-width: 768px) {
  /* Nav */
  #nav .container {
    margin: 5px;
    justify-content: space-around;
  }
  /* Nav */

  /* Header */

  #header {
    height: 200vh;
  }
  #header .container {
    flex-direction: column-reverse;
  }

  #header img {
    width: 120%;
    margin-top: 100px;
  }

  #header .header-content {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }
  /* Header */

  /* Chefs */
  
  #chefs .container .chefs-cards {
    flex-direction: column;
    align-items: center;
  }

  #chefs .container .card {
    width: 100%;
  }

  /* Chefs */

  /* Gallery */

  #gallery .container .gallery-card {
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: unset;
    align-items: center;
  }

  #gallery .container {
    overflow: unset;
  }

  #gallery .container .gallery-card {
    height: 100%;
  }

  /* Gallery */

  /* Contact */
  #contact .container .contact-info {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
  }

  #contact .container .info-item {
    flex-wrap: nowrap;
    align-items: center;
  }

  #contact .container form .name {
    width: 100%;
  }

  #contact .container form input {
    width: 100%;
  }
  /* Contact */

  /* Footer */
  #footer .container {
    flex-direction: column;
    align-items: center;
  }

  #footer .container .footer-about {
    width: 100%;
  }

  #footer .container .footer-sub {
    width: 100%;
  }

  #footer .container .footer-touch {
    width: 100%;
  }

  /* Footer */
}

/* 'lg': '1024px', */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Header */
  #header {
    height: 120vh;
  }

  .container {
    margin: 0px 50px;
  }

  /* Header */

  /* Gallery */

  #gallery .container .gallery-card {
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: unset;
    align-items: center;
  }

  #gallery .container {
    overflow: unset;
  }

  #gallery .container .gallery-card {
    height: 100%;
  }

  #header .header-content .watch-btn .icon::before {
    display: none;
  }
  #header .header-content .watch-btn .icon {
    display: none;
  }

  /* Gallery */

  /* Contact */

  #contact .container form .name {
    width: 100%;
  }

  #contact .container form input {
    width: 100%;
  }
  /* Contact */

  /* Footer */
  #footer .container {
    flex-direction: column;
    align-items: center;
  }

  #footer .container .footer-about {
    width: 100%;
  }

  #footer .container .footer-sub {
    width: 100%;
  }

  #footer .container .footer-touch {
    width: 100%;
  }
}

/* 'xl': '1280px', */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* < ------- Media Query ------- > */
